# Default ignored files
/shelf/
/workspace.xml
/vcs.xml
/SuperOutliner.iml
/inspectionProfiles/Project_Default.xml
/inspectionProfiles/profiles_settings.xml
/modules.xml
/misc.xml
/codeStyles/codeStyleConfig.xml
